<section class="index-page">
  <p class="error">
    You have no permission to use this site! Please log in first!
  </p>

  <a class="loginBtn loginBtn--google" href="../auth/google">
    Login with Google
  </a>
</section>